<section>
    <div class="container text-white p-5">
        <div class="row p-4">
            <div class="col-md-4">
                <div class="text-center">
                <h3>LOCATION</h3>
                <h4>2215 John Daniel Drive</h4>
                <span>2215 John Daniel Drive</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <h3>AROUND THE WEB</h3>
                    <ul>
                        <li> <a class="fa-brands fa-facebook mx-1 icon text-decoration-none" href=""></a> </li>
                        <li> <a class="fa-brands fa-twitter mx-1 icon text-decoration-none" href=""></a> </li>
                        <li> <a class="fa-brands fa-linkedin mx-1 icon text-decoration-none" href=""></a> </li>
                        <li> <a class="fa-solid fa-globe mx-1 icon text-decoration-none" href=""></a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="">
                    <h3 class="text-center">ABOUT FREELANCER</h3>
                    <p class="text-center">Freelance is a free to use, licensed Bootstrap theme  created by Route</p>
                </div>
            </div>
        </div>
    </div>
    <div  class="text-white text-center footer-text">
        <p>Copyright © Your Website 2021</p>
    </div>
</section>