<section>
    <h1 class="text-uppercase position-relative pt-5 mt-5">about component</h1>
    <i class="fa-solid fa-star"></i>

        <div class="container">
            <div class="row">
                <div class="col-md-5 offset-lg-1">
                    <div class="p-4">
                        Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                    </div>
                </div>
                <div class="col-md-6 r">
                    <div class="p-4">
                        Freelancer is a free bootstrap theme created by Route. The <br> download includes the complete source files including HTML,<br> CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                    </div>
                </div>
            </div>
        </div>

</section>