<section class="p-5 m-5">
   <div class="text-center pt-4">
    <h1>CONATCT SECTION</h1>
    <i class="fa-solid fa-star"></i>
   </div>

   <div class="conyainer">
    <div class="row">
        <div class="col-md-12">
            <div>
                <form class="w-50 position-relative p-4">
                    <input type="text" placeholder="userName" class="w-100 p-2 m-3 form-control" name="" id="">
                    <input type="text" placeholder="userAge" class="w-100 p-2 m-3 form-control" name="" id="">
                    <input type="text" placeholder="userEmail" class="w-100 p-2 m-3 form-control" name="" id="">
                    <input type="text" placeholder="userPassword" class="w-100 p-2 m-3 form-control" name="" id="">
                    <button class="btn text-white ms-3">Send Message</button>
                </form>
            </div>
        </div>
    </div>
   </div>
   
</section>