<section class="text-center p-5 m-5">
    <h1 class="pt-4">PORTFOLIO COMPONENT</h1>
    <i class="fa-solid fa-star"></i>
     <br><br><br><br> 
        <div class="container">
            <div class="row">

                <div class="col-md-4 g-3">
                    <div  class="parent position-relative">
                        <img src="./assets/image/poert1.png" class="rounded-3" width="100%" alt="">
                        <div (click)=" imgPath(block) " class=" layer">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4 g-3">
                    <div class="parent position-relative">
                        <img src="./assets/image/port2.png" class="rounded-3" width="100%" alt="">
                        <div (click)=" imgPath(block1) " class=" layer">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4 g-3">
                    <div class="parent position-relative">
                        <img src="./assets/image/port3.png" class="rounded-3" width="100%" alt="">
                        <div (click)=" imgPath(block2) " class=" layer">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4 g-3">
                    <div class="parent position-relative">
                        <img src="./assets/image/poert1.png" class="rounded-3" width="100%" alt="">
                        <div (click)=" imgPath(block) " class=" layer">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4 g-3">
                    <div class="parent position-relative">
                        <img src="./assets/image/port2.png" class="rounded-3" width="100%" alt="">
                        <div (click)=" imgPath(block1) " class=" layer">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4 g-3">
                    <div class="parent position-relative">
                        <img src="./assets/image/port3.png" class="rounded-3" width="100%" alt="">
                        <div (click)=" imgPath(block2) " class=" layer">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
</section>





<div (click)=" close(block) " #block class="light-container d-none" >
    <div class="light-box d-flex justify-content-center align-items-center mt-5">
        <img src="./assets/image/poert1.png" class="w-50" alt="">
    </div>
</div>
















<div (click)=" close(block1) " #block1 class="light-container d-none" >
    <div class="light-box d-flex justify-content-center align-items-center mt-5">
        <img src="./assets/image/port2.png" class="w-50" alt="">
    </div>
</div>

<div (click)=" close(block2) " #block2 class="light-container d-none" >
    <div class="light-box d-flex justify-content-center align-items-center mt-5">
        <img src="./assets/image/port3.png" class="w-50" alt="">
    </div>
</div>
